<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>convertSmbToAfp</string>
	<key>connections</key>
	<dict>
		<key>024F4F5E-2349-4C87-9896-A983457BF902</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C074A7EF-D1BE-4567-849C-352887459DDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>858CF7AC-BC53-4E32-B220-E6B014EC3ACA</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>复制到剪贴板</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0A51ACA1-C66B-448B-9733-8F923C9D98E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF2CB2A0-CF60-4F7E-A34B-218B191697DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>858CF7AC-BC53-4E32-B220-E6B014EC3ACA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD897A8C-0CFD-4AD5-AEBF-F753A2A7A5C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CFE92DC-52DA-4171-BE32-D10FAAC269E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96FA9422-9CE8-4B10-AE3F-29CA643CBCCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B60077E1-1C59-44AE-B3ED-93D838BA793D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A51ACA1-C66B-448B-9733-8F923C9D98E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C074A7EF-D1BE-4567-849C-352887459DDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B60077E1-1C59-44AE-B3ED-93D838BA793D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD897A8C-0CFD-4AD5-AEBF-F753A2A7A5C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CFE92DC-52DA-4171-BE32-D10FAAC269E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF2CB2A0-CF60-4F7E-A34B-218B191697DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09EE3FEF-07F6-4D43-9459-B819A657AB8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>huangzh</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>smb2afp</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EF2CB2A0-CF60-4F7E-A34B-218B191697DB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open {query}
kill `ps -ef|grep Terminal.app | grep -v grep |awk '{print $2}'`</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>09EE3FEF-07F6-4D43-9459-B819A657AB8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>\</string>
				<key>replacestring</key>
				<string>/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>0A51ACA1-C66B-448B-9733-8F923C9D98E6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>\\</string>
				<key>replacestring</key>
				<string>afp://</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>B60077E1-1C59-44AE-B3ED-93D838BA793D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C074A7EF-D1BE-4567-849C-352887459DDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sb</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>smb转afp</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>024F4F5E-2349-4C87-9896-A983457BF902</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>96FA9422-9CE8-4B10-AE3F-29CA643CBCCE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>\\</string>
				<key>replacestring</key>
				<string>afp://</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>DD897A8C-0CFD-4AD5-AEBF-F753A2A7A5C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>\</string>
				<key>replacestring</key>
				<string>/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9CFE92DC-52DA-4171-BE32-D10FAAC269E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>858CF7AC-BC53-4E32-B220-E6B014EC3ACA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Windows smb 路径转换成mac afp路径</string>
	<key>uidata</key>
	<dict>
		<key>024F4F5E-2349-4C87-9896-A983457BF902</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>09EE3FEF-07F6-4D43-9459-B819A657AB8A</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>0A51ACA1-C66B-448B-9733-8F923C9D98E6</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>858CF7AC-BC53-4E32-B220-E6B014EC3ACA</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>96FA9422-9CE8-4B10-AE3F-29CA643CBCCE</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>9CFE92DC-52DA-4171-BE32-D10FAAC269E2</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>B60077E1-1C59-44AE-B3ED-93D838BA793D</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>C074A7EF-D1BE-4567-849C-352887459DDF</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>DD897A8C-0CFD-4AD5-AEBF-F753A2A7A5C1</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>EF2CB2A0-CF60-4F7E-A34B-218B191697DB</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
